html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 0;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    background-color: #969494;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    /* color: #333;
    font-weight: bold; */
    max-width: 50px;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

:root{
    --cor-primaria-succes : rgb(97, 188, 230);
}



.nav-link .dropdown-menu .dropdown-item{

    border: none;
    padding: 7px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3;

}

.nav-link .dropdown-menu .dropdown-item:hover{

    background-color: var(--cor-primaria-succes);

}


/* Rodapé */

footer{
    background-color: #504747;
    height: 100px;
    border-top: 1px solid #202020;
    margin-top: 20px;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
    
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

footer a {
    
    border: 2px solid black;
}  

.pracima{
    background-color: grey;
    color: black;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;    
    right: 10px;
    z-index: 10;
    text-decoration: none;    
}
