*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parallax{
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 40px 4%;
  font-family: roboto;
  color: rgb(20,20,20);



  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  margin-bottom: 20px;
}

.parallax:nth-of-type(1) h1{
  color: white;
  font-size: 60px;
  font-weight: 400;
  margin-top: 150px;
}

.p1{
  background-image: url("../images/Fundo01.jpg");
  color: white;
  font-size: 60px;
}

.p2{
  background-image: url("../images/Fundo02.jpg");
  color: white;
  font-size: 60px;
}


/* Video em parallax */
/* Como usar: Se for colocar algum texto na página, utilizar o paracontent para tirar a sobreposição do paravideo */


.paracontent{
  background-color: #ffffff;
  padding: 50px 0px;
}

.ParaVideo{
  height: 100px;
  padding: 50px 0px;
}

.ParaVideo video{
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}



/* 
.parallax:nth-of-type(1){
  background-image: url("../images/Fundo01.jpg");
  color: white;
  font-size: 60px;
}
.parallax:nth-of-type(3){
  background-image: url("../images/Fundo01.jpg");
}
.parallax:nth-of-type(5){
  background-image: url("../images/Fundo01.jpg");
} */
