{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Os títulos das páginas mudam, logo a gente cria esse bloco para ele variar acom a s páginas -->
        <title>{% block title %} Clube de pesca Albatroz{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'JS/script.JS' %}">
        <link rel="stylesheet" href="{% static 'css/praias.css' %}">
        <link rel="stylesheet" href="{% static 'css/como_chegar.css' %}">
        <link rel="stylesheet" href="{% static 'css/fale.css' %}">
    </head>
    <body>
        <!-- <header>            
            <nav>
                <ul class="menu">
                    <li class="logo"><a href="#">DJANGO</a></li>
                    <li class="item"><a href="#">Inicio</a></li>
                    <li class="item-submenu">
                        <a tabindex="0">Conheça</a>
                        <ul class="submenu">
                            <li class="subitem"><a href="#">História</a></li>
                            <li class="subitem"><a href="#">Local</li>
                            <li class="subitem"><a href="#">Cultura</a></li>
                            <li class="subitem"><a href="#">Programação</a></li>
                        </ul>
                    </li>
                    <li class="item"><a href="#">Praias</a></li>
                    <li class="item"><a href="#">Como Chegar</a></li>
                    <li class="item"><a href="#">Fale</a></li>
                </ul>
            </nav>

        </header> -->
        <div id="top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-brand"><img src="../static/images/logo-alba.jpg" alt="Image" height="70" width="70" /></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSuportedContent">
                <span class="navbar-toggle-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'praias' %}">Praias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'como_chegar' %}">Como Chegar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fale' %}">Fale</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown">Conheça o clube</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"> Nossa História</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="#"> Local e Natureza</a>
                            <a class="dropdown-item" href="#"> Estrutura</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        </div>

            {% block content %}
            {% endblock content %}
            <footer id='footer'>
                
            </footer>
            <a href="#top" class="pracima"><img src="{% static 'images/outline_expand_less_black_36dp.png' %}" alt="seta pra cima"></a>
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>