{% extends 'base.html' %}

{% block content %}
Fale conosco: Oi
<!DOCTYPE html>
<body>

<link rel="stylesheet" href="../static/css/fale.css">

<section class="section bg1"></section>

  <section></section>
    <h1>Exemplo de efeito paralax
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
    elit. Beatae distinctio sed quis, aperiam optio voluptates,
    delectus eveniet commodi, amet eum possimus quod dolor pariatur 
    officiis quam! Adipisci mollitia excepturi perferendis!
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Eos nulla, omnis quo illo alias
      necessitatibus possimus similique magni harum 
      magnam ut earum praesentium dolores autem cum 
      id beatae at esse!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Inventore nisi porro alias est quos, neque quas minus, 
      tempore totam non veniam minima quaerat praesentium animi 
      commodi nostrum quod ipsum aspernatur?
      Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Eos nulla, omnis quo illo alias
      necessitatibus possimus similique magni harum 
      magnam ut earum praesentium dolores autem cum 
      id beatae at esse!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Inventore nisi porro alias est quos, neque quas minus, 
      tempore totam non veniam minima quaerat praesentium animi 
      commodi nostrum quod ipsum aspernatur?</p></section>
      
      <section class="section bg2"></section>

      <section class="section bg1">
    <h1>Exemplo de efeito paralax
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
    elit. Beatae distinctio sed quis, aperiam optio voluptates,
    delectus eveniet commodi, amet eum possimus quod dolor pariatur 
    officiis quam! Adipisci mollitia excepturi perferendis!
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Eos nulla, omnis quo illo alias
      necessitatibus possimus similique magni harum 
      magnam ut earum praesentium dolores autem cum 
      id beatae at esse!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Inventore nisi porro alias est quos, neque quas minus, 
      tempore totam non veniam minima quaerat praesentium animi 
      commodi nostrum quod ipsum aspernatur?
      Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Eos nulla, omnis quo illo alias
      necessitatibus possimus similique magni harum 
      magnam ut earum praesentium dolores autem cum 
      id beatae at esse!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Inventore nisi porro alias est quos, neque quas minus, 
      tempore totam non veniam minima quaerat praesentium animi 
      commodi nostrum quod ipsum aspernatur?</p></section>
      
      <section class="section bg1"></section>

</body>
{% endblock content %}