{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/praias.css' %}">
{% endblock %}

{% block title %} Praias Locais{% endblock %}
{% block content %}

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  

  <section class="thumbSection">
        <h2 class="thumbTitle">Praia tal</h2>
        <div class="thumbTiles swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <a class="thumbTile" href="#">
                    <img class="thumbTile__image" src="../static/images/f1.jpg" alt="The Crown">
                </a>
            </div>
            <div class="swiper-slide">
              <a class="thumbTile" href="#">
                <img class="thumbTile__image" src="../static/images/f2.jpg" alt="The Crown">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="thumbTile" href="#">
                <img class="thumbTile__image" src="../static/images/f3.jpg" alt="The Crown">
              </a>
            </div>
          </div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
        </div>
    </section>

    <section class="thumbSection">
      <h2 class="thumbTitle">outra praia</h2>
      <div class="thumbTiles swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <a class="thumbTile" href="#">
                  <img class="thumbTile__image" src="../static/images/f1.jpg" alt="The Crown">
              </a>
          </div>
          <div class="swiper-slide">
            <a class="thumbTile" href="#">
              <img class="thumbTile__image" src="../static/images/f2.jpg" alt="The Crown">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="thumbTile" href="#">
              <img class="thumbTile__image" src="../static/images/f3.jpg" alt="The Crown">
            </a>
          </div>
        <!-- </div> -->

          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
      <!-- </div> -->
  </section>

  <script>
      var mySwiper = new Swiper('.swiper-container', {
          // Optional parameters
          spaceBetween: 3,
          slidesPerView: 5,
          loop: true,
          freeMode: true,
          // loopAdditionalSlides: 5,
          speed: 500,
          // // Navigation arrows
          // navigation: {
          //     nextEl: '.swiper-button-next',
          //     prevEl: '.swiper-button-prev',
          // },
          breakpoints: {
              // when window width is >= 640px
              640: {
                  slidesPerView: 5,
                  slidesPerGroup: 5,
                  freeMode: false
              }
          }
      })
  </script>

  <section></section>

{% endblock content %}