{% extends 'base.html' %}

{% block content %}
    <h2>Hello World!</h2>
    <h2>Testando pra ver se foi</h2>
    <ol>
        <li>Configurar templates do aplicativo páginas </li>
        <li>Pensar nos proximos aplicativos</li>
        <li>???</li>
        <li>Profit</li>
    </ol>

    <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ut error repellendus vel, inventore rem, velit, reprehenderit sequi maiores mollitia officiis omnis laudantium tempore fugit aperiam odio nobis illum deserunt?</li>
        <li>Quibusdam ullam cumque voluptatum labore error cum impedit! Velit quibusdam ab nisi earum, reprehenderit sapiente corrupti numquam rerum vero doloribus quasi laudantium eius tempore dolorem veniam optio praesentium qui unde.</li>
        <li>Ipsum et maiores quod, sunt, facere ullam quis libero magni corporis quas assumenda deserunt fugit eius recusandae, nulla ab. Doloremque, perferendis placeat! Maiores quis, placeat obcaecati ipsam natus explicabo inventore.</li>
        <li>Dolorem consectetur, maiores voluptatum veritatis harum beatae maxime totam numquam fugiat tempora perferendis sint saepe nulla ipsum optio assumenda qui minus enim architecto soluta eveniet voluptatem atque? Beatae, provident maxime.</li>
        <li>Ut ex placeat eum ratione impedit, repellat modi deleniti animi magni earum provident eius totam veniam similique velit delectus enim inventore cupiditate veritatis amet asperiores. Possimus quis eaque aliquam debitis.</li>
        <li>Fugiat commodi fugit quidem id, reiciendis voluptas delectus incidunt maxime dolor veniam dignissimos, minus nam mollitia unde facilis deleniti assumenda harum magni facere quis officia. Commodi velit fuga ullam eos.</li>
        <li>Hic, quibusdam beatae. Nemo vel eveniet fugiat commodi tempora magnam hic odio ea nesciunt porro, illo aspernatur nulla consequuntur, quo dicta! Voluptates repudiandae ipsum totam expedita impedit libero dolores molestias!</li>
        <li>Blanditiis, libero qui hic animi saepe sunt, dolores quas nam reiciendis amet vero quaerat esse impedit quo repudiandae! Corrupti, necessitatibus labore. Doloribus laborum quam aut exercitationem ipsum modi asperiores laboriosam.</li>
        <li>Totam dolore sequi doloremque accusantium ipsam laborum laboriosam ipsum labore assumenda vel soluta sit quam, nesciunt itaque officia, optio voluptatum quae! Tenetur blanditiis minus officiis, amet dolores molestiae soluta expedita.</li>
        <li>Id magnam nostrum, praesentium totam alias, soluta natus dolores quas voluptas quidem recusandae ullam sequi tempora. Inventore voluptatum facilis veritatis unde adipisci consectetur possimus quo, natus nostrum impedit corporis reiciendis.</li>
    </ul>
    
{% endblock content %}